{% extends 'core/base.html'%}

{%block title%} {{book.title}} {%endblock%}

{%block content%}
<div class="grid grid-cols-6 gap-6">
    <div class="col-span-1">
        <img src="{{book.cover_url}}" alt="{{book.title}}" class="w-full">
    </div>

    <div class="col-span-5 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{book.title}}</h1>
        <h2 class="mb-6 text-xl">Author: <strong>{{book.author}}</strong></h2>
        <a href="{% url 'category:category_detail' book.category.id %}">
            <h3 class="mb-2 text-xl">Category: <strong>{{book.category}}</strong></h3>
        </a>
        <p class="mb-4">{{book.description}}</p>
    </div>
    {%if author_other_books.length > 0%}
    <div class="col-span-3 p-6 bg-gray-100 rounded-xl mt-3">
        <h1>Other books by {{book.author}}</h1>
        <div class="grid grid-cols-3 gap-6">
            {% for book in authors_other_books %}
            <div class="p-6 rounded-xl">
                <a href="{% url 'book:detail' book.id %}">
                    <img src="{{book.cover_url}}" alt="{{book.title}}" class="w-full">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    {%endif%}
    <div class="col-span-3 p-6 bg-gray-100 rounded-xl mt-3">
        <h1>More {{book.category}} books</h1>
        <div class="grid grid-cols-3 gap-6">
            {% for book in same_category_books %}
            <div class="p-6 rounded-xl">
                <a href="{% url 'book:detail' book.id %}">
                    <img src="{{book.cover_url}}" alt="{{book.title}}" class="w-full">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}